In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [3]:
data=pd.read_csv('data.csv')

In [22]:
def generate_fico_rating_map(fico_scores,num_buckets):
  """This function generates a rating map by bucketing FICO Scores based on a specific number of buckets.
  Lower rating value corresponds to better credit worthiness"""
  fico_scores_reshaped =fico_scores.values.reshape(-1,1)

  ks = KMeans(n_clusters=num_buckets, random_state=42,n_init=10).fit(fico_scores_reshaped) # applying KMeans to find the best bucket boundaries

  boundaries=np.sort(ks.cluster_centers_.flatten()) # get the cluster center and these will be the boundaries

  print(boundaries)

  fico_rating=np.digitize(fico_scores, boundaries, right=True)  # creates a rating column to the right where lower scores get higher ratings

  rating_map=pd.DataFrame({
      'fico_score':fico_scores,
      'rating':fico_rating
  })

  rating_map = rating_map.sort_values(by='fico_score').reset_index(drop=True)

  return rating_map

In [23]:
fico_scores=data['fico_score']
num_buckets=10
rating_map=generate_fico_rating_map(fico_scores,num_buckets)

[489.30801688 535.93035714 569.99451554 598.52394775 624.21375465
 648.31467181 672.51171043 699.40352349 731.82900137 779.06060606]

In [24]:
rating_map['rating'].value_counts()

rating
5     1578
4     1517
6     1497
7     1308
3     1268
8      954
2      813
9      482
1      397
0       94
10      92
Name: count, dtype: int64

In [25]:
fico_scores=data['fico_score']
num_buckets=5
rating_map=generate_fico_rating_map(fico_scores,num_buckets)

[525.30022573 585.14194722 631.83004349 677.78359909 734.87780356]

In [26]:
rating_map['rating'].value_counts()

rating
3    2886
2    2600
4    2058
1    1584
5     516
0     356
Name: count, dtype: int64